<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cliente">
      <h2 class="titulo-entidades" data-cy="clienteDetailsHeading">
        <span jhiTranslate="gestionferrApp.cliente.detail.title">Cliente</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span class="titulo-entidades" jhiTranslate="gestionferrApp.cliente.nombre">Nombre</span></dt>
        <dd>
          <span>{{ cliente.nombre }}</span>
        </dd>
        <dt><span class="titulo-entidades" jhiTranslate="gestionferrApp.cliente.numeroContacto">Numero Contacto</span></dt>
        <dd>
          <span>{{ cliente.numeroContacto }}</span>
        </dd>
        <dt><span class="titulo-entidades" jhiTranslate="gestionferrApp.cliente.email">Email</span></dt>
        <dd>
          <span>{{ cliente.email }}</span>
        </dd>
        <dt><span class="titulo-entidades" jhiTranslate="gestionferrApp.cliente.tipoIdentificacion">Tipo Identificacion</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gestionferrApp.TipoIdentificacionEnum.' + cliente.tipoIdentificacion }}">{{
            cliente.tipoIdentificacion
          }}</span>
        </dd>
        <dt><span class="titulo-entidades" jhiTranslate="gestionferrApp.cliente.numeroCC">Numero CC</span></dt>
        <dd>
          <span>{{ cliente.numeroCC }}</span>
        </dd>
      </dl>

      <div *ngIf="cliente.facturasCliente === null || cliente.facturasCliente!.length === 0" class="alert alert-success" role="alert">
        <h4 class="alert-heading">Este cliente no tiene facturas registradas</h4>
        <p></p>
        <p class="mb-0">
          Dirigase a la seccion de factura ventas si quiere buscar una factura especifica relacionada a este cliente, <br />
          ya que en el momento, el cliente no presenta ninguna factura pendiente.
        </p>
      </div>

      <div *ngIf="cliente.facturasCliente && cliente.facturasCliente.length > 0" class="mt-5 mb-3 d-flex justify-content-center">
        <h5 class="titulo-entidades">Facturas Relacionadas Del Cliente</h5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="row"></th>
              <th scope="col" class="titulo-entidades">Numero Factura</th>
              <th scope="col" class="titulo-entidades">Valor Factura</th>
              <th scope="col" class="titulo-entidades">Fecha Factura</th>
              <th scope="col" class="titulo-entidades">Valor Pagado</th>
              <th scope="col" class="titulo-entidades">Deuda</th>
              <th scope="col" class="titulo-entidades">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let factura of cliente.facturasCliente">
              <th scope="row"></th>
              <td>{{ factura.numeroFactura }}</td>
              <td>{{ factura.valorFactura }}</td>
              <td>{{ factura.fechaCreacion }}</td>
              <td>{{ factura.valorPagado | currency }}</td>
              <td>{{ factura.valorDeuda }}</td>
              <td>
                <button [routerLink]="['/factura-venta', factura.idFacturaVenta, 'view']" class="btn-sm btn btn-info">Detalle</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-outline-primary" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/cliente', cliente.id, 'edit']" class="btn btn-outline-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
