<div class="d-flex justify-content-center">
  <div class="col-10">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-abono-heading"
        style="margin-bottom: 30px; color: blue; font-style: normal; font-weight: bold"
        data-cy="AbonoCreateUpdateHeading"
        jhiTranslate="gestionferrApp.abono.home.createOrEditLabel"
      >
        Create or edit a Abono
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row">
          <div class="col-md-5">
            <label class="form-label" jhiTranslate="gestionferrApp.abono.valorAbono" for="field_valorAbono">Valor Abono</label>
            <input
              type="number"
              class="form-control"
              name="valorAbono"
              id="field_valorAbono"
              data-cy="valorAbono"
              formControlName="valorAbono"
              (keyup)="restarValores()"
            />
            <div *ngIf="validarPrecioAbono" class="alert alert-warning" role="alert">
              <p class="mb-0">Recuerde que el valor ha abonar no debe ser mayor al valor total de la deuda.</p>
            </div>
          </div>

          <div class="col-md-3 mb-5">
            <label class="form-label" for="field_valorDeuda">Valor deuda</label>
            <input
              readonly
              type="number"
              class="form-control"
              name="valorDeuda"
              id="field_valorDeuda"
              data-cy="valorDeuda"
              formControlName="valorDeuda"
            />
          </div>

          <div class="col-md-3 mb-5">
            <label class="form-label" jhiTranslate="gestionferrApp.abono.tipoFactura" for="field_tipoFactura">Tipo Factura</label>
            <input
              readonly
              type="text"
              class="form-control"
              name="tipoFactura"
              id="field_tipoFactura"
              data-cy="tipoFactura"
              formControlName="tipoFactura"
            />
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="cancel-save"
          style="margin-right: 10px"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving || validarPrecioAbono"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
