<div>
  <h2 id="page-heading" data-cy="ItemFacturaCompraHeading">
    <span jhiTranslate="gestionferrApp.itemFacturaCompra.home.title">Item Factura Compras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionferrApp.itemFacturaCompra.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item-factura-compra"
        [routerLink]="['/item-factura-compra/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionferrApp.itemFacturaCompra.home.createLabel"> Create a new Item Factura Compra </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="itemFacturaCompras?.length === 0">
    <span jhiTranslate="gestionferrApp.itemFacturaCompra.home.notFound">No itemFacturaCompras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="itemFacturaCompras && itemFacturaCompras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.itemFacturaCompra.idFacturaCompra">Id Factura Compra</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.itemFacturaCompra.idProducto">Id Producto</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.itemFacturaCompra.cantidad">Cantidad</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.itemFacturaCompra.precio">Precio</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemFacturaCompra of itemFacturaCompras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/item-factura-compra', itemFacturaCompra.id, 'view']">{{ itemFacturaCompra.id }}</a>
          </td>
          <td>{{ itemFacturaCompra.idFacturaCompra }}</td>
          <td>{{ itemFacturaCompra.idProducto }}</td>
          <td>{{ itemFacturaCompra.cantidad }}</td>
          <td>{{ itemFacturaCompra.precio }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/item-factura-compra', itemFacturaCompra.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/item-factura-compra', itemFacturaCompra.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(itemFacturaCompra)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
