<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        class="titulo-entidades mb-4"
        id="jhi-egreso-heading"
        data-cy="EgresoCreateUpdateHeading"
        jhiTranslate="gestionferrApp.egreso.home.createOrEditLabel"
      >
        Create or edit a Egreso
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row d-flex justify-content-center">
          <div class="col-md-4 mb-4">
            <label class="form-label titulo-entidades" jhiTranslate="gestionferrApp.egreso.fechaCreacion" for="field_fechaCreacion"
              >Fecha Creacion</label
            >
            <div class="d-flex">
              <input
                id="field_fechaCreacion"
                data-cy="fechaCreacion"
                type="datetime-local"
                class="form-control"
                name="fechaCreacion"
                formControlName="fechaCreacion"
                placeholder="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="col-md-5 mb-4">
            <label class="form-label titulo-entidades" jhiTranslate="gestionferrApp.egreso.descripcion" for="field_descripcion"
              >Descripcion</label
            >
            <textarea
              type="text"
              class="form-control"
              name="descripcion"
              id="field_descripcion"
              data-cy="descripcion"
              formControlName="descripcion"
            >
            </textarea>
          </div>

          <div class="col-md-4 mb-4">
            <label class="form-label titulo-entidades" jhiTranslate="gestionferrApp.egreso.valorEgreso" for="field_valorEgreso"
              >Valor Egreso</label
            >
            <input
              required="true"
              type="number"
              class="form-control"
              name="valorEgreso"
              id="field_valorEgreso"
              data-cy="valorEgreso"
              formControlName="valorEgreso"
            />
          </div>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-outline-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-outline-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
