<div>
  <h2 id="page-heading" data-cy="CajaHeading" style="margin-bottom: 70px">
    <div class="d-flex justify-content-center mb-2">
      <span style="color: blue; font-style: normal; font-weight: bold" jhiTranslate="gestionferrApp.caja.home.title">Cajas</span>
    </div>

    <div class="d-flex justify-content-around">
      <a class="link-caja" [routerLink]="['/caja/caja-fechas']">
        <mat-icon style="font-size: 40px; margin-right: 25px; position: relative; top: 12px">manage_search</mat-icon>
        <span>Consultar caja mensual</span></a
      >

      <a class="link-caja" (click)="generarReporteCaja()">
        <mat-icon style="font-size: 40px; margin-right: 25px; position: relative; top: 12px">picture_as_pdf</mat-icon>
        <span>Generar PDF</span>
      </a>

      <a style="margin-top: 22px" id="jh-create-entity" data-cy="entityCreateButton" class="link-caja" [routerLink]="['/caja/new']">
        <fa-icon icon="plus"></fa-icon>
        <span>Crear caja del dia </span>
      </a>
    </div>
  </h2>

  <div class="row d-flex justify-content-around mb-4">
    <div class="col-md-3">
      <label for="fecha" class="form-label titulo-entidades">Fecha</label>
      <input type="datetime-local" [(ngModel)]="fecha" class="form-control" name="fecha" />
      <button (click)="cajasPorEstado()" class="menu-config">Filtrar <mat-icon class="icon-config">done_outline</mat-icon></button>
    </div>

    <div class="col-md-1">
      <button class="menu-config" (click)="loadAll()"><mat-icon style="font-size: 40px">autorenew</mat-icon></button>
    </div>

    <div class="col-md-3">
      <label for="estado" class="form-label titulo-entidades">Estado</label>
      <select name="estado" id="estado" class="form-select" [(ngModel)]="estado" (click)="cajasPorEstado()">
        <option *ngFor="let estado of estados">{{ estado }}</option>
      </select>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cajas?.length === 0">
    <span jhiTranslate="gestionferrApp.caja.home.notFound">No cajas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="cajas && cajas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead style="background-color: rgb(120, 167, 253)">
        <tr>
          <th scope="col"></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.caja.fechaCreacion">Fecha Creacion</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.caja.valorVentaDia">Valor Venta Dia</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.caja.valorRegistradoDia">Valor Registrado Dia</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.caja.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.caja.diferencia">Diferencia</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let caja of cajas; trackBy: trackId" data-cy="entityTable">
          <td>
            <div class="dropdown">
              <button
                style="color: blue"
                class="menu-config btn btn-primary"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <ul class="dropdown-menu" style="padding: 15px" aria-labelledby="dropdownMenuButton1">
                <button class="menu-config btn btn-primary" [routerLink]="['/caja', caja.id, 'view']">
                  <mat-icon style="position: relative; top: 6px">preview</mat-icon>
                  <span>Ver</span>
                </button>
                <br />
                <button class="menu-config boton-eliminar" (click)="delete(caja)">
                  <mat-icon style="position: relative; top: 6px; color: red">delete</mat-icon>
                  <span>Borrar</span>
                </button>
              </ul>
            </div>
          </td>
          <td>{{ caja.fechaCreacion | formatMediumDate }}</td>
          <td>{{ caja.valorVentaDia }}</td>
          <td>{{ caja.valorRegistradoDia }}</td>
          <td jhiTranslate="{{ 'gestionferrApp.TipoEstadoEnum.' + caja.estado }}">{{ caja.estado }}</td>
          <td>{{ caja.diferencia }}</td>
          <td class="text-end">
            <div class="btn-group">
              <!-- <button type="submit" [routerLink]="['/caja', caja.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/caja', caja.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
