<div>
  <h2 id="page-heading" data-cy="ClienteHeading">
    <span jhiTranslate="gestionferrApp.cliente.home.title">Clientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionferrApp.cliente.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cliente"
        [routerLink]="['/cliente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionferrApp.cliente.home.createLabel"> Create a new Cliente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
    <span jhiTranslate="gestionferrApp.cliente.home.notFound">No clientes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.cliente.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.cliente.numeroContacto">Numero Contacto</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.cliente.email">Email</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.cliente.tipoIdentificacion">Tipo Identificacion</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.cliente.numeroCC">Numero CC</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
          </td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.numeroContacto }}</td>
          <td>{{ cliente.email }}</td>
          <td jhiTranslate="{{ 'gestionferrApp.TipoIdentificacionEnum.' + cliente.tipoIdentificacion }}">
            {{ cliente.tipoIdentificacion }}
          </td>
          <td>{{ cliente.numeroCC }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/cliente', cliente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
