<div>
  <h2 id="page-heading" data-cy="ProveedorHeading">
    <span class="titulo-entidades">Proveedores</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionferrApp.proveedor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-outline-primary jh-create-entity create-proveedor"
        [routerLink]="['/proveedor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionferrApp.proveedor.home.createLabel"> Create a new Proveedor </span>
      </button>
    </div>
  </h2>

  <div class="row d-flex justify-content-around mb-5 mt-4">
    <div class="col-md-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        (keyup)="proveedoresFiltro()"
        [(ngModel)]="nombre"
        class="form-control"
        placeholder="Filtrar por nombre"
        name="nombre"
      />
    </div>
    <div class="col-md-3">
      <label for="nombre" class="form-label">Numero Contacto</label>
      <input
        type="text"
        (keyup)="proveedoresFiltro()"
        [(ngModel)]="numeroContacto"
        class="form-control"
        placeholder="Numero contacto"
        name="nombre"
      />
    </div>

    <div class="col-md-3">
      <label for="nombre" class="form-label">Numero Identificacion</label>
      <input
        type="text"
        (keyup)="proveedoresFiltro()"
        [(ngModel)]="numeroCC"
        class="form-control"
        placeholder="Numero identificacion"
        name="nombre"
      />
    </div>

    <div class="col-md-3">
      <label class="form-label" jhiTranslate="gestionferrApp.proveedor.tipoProveedor" for="tipoProveedor">Tipo Proveedor</label>
      <select [(ngModel)]="tipoProveedor2" class="form-select" name="tipoProveedor" id="field_tipoProveedor" (click)="proveedoresFiltro()">
        <option *ngFor="let tipoProveedorEnum of tipoProveedor">
          {{ 'gestionferrApp.TipoProveedorEnum.' + tipoProveedorEnum | translate }}
        </option>
      </select>
    </div>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="proveedors?.length === 0">
    <span jhiTranslate="gestionferrApp.proveedor.home.notFound">No proveedors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="proveedors && proveedors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.proveedor.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.proveedor.numeroContacto">Numero Contacto</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.proveedor.email">Email</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.proveedor.tipoIdentificacion">Tipo Identificacion</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.proveedor.numeroCC">Numero CC</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.proveedor.tipoProveedor">Tipo Proveedor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedors; trackBy: trackId" data-cy="entityTable">
          <td>
            <div class="dropdown">
              <button
                class="menu-config btn-primary"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <button class="menu-config btn-primary mb-2" [routerLink]="['/proveedor', proveedor.id, 'view']">
                    <mat-icon class="icon-config">preview</mat-icon>
                    <span>Ver</span>
                  </button>
                </li>
                <li>
                  <button class="menu-config btn-primary mb-2" [routerLink]="['/proveedor', proveedor.id, 'edit']">
                    <mat-icon class="icon-config">edit</mat-icon>
                    <span>Editar</span>
                  </button>
                </li>
                <li>
                  <button class="boton-eliminar" (click)="delete(proveedor)">
                    <mat-icon class="icon-config-eliminar">delete</mat-icon>
                    <span>Borrar</span>
                  </button>
                </li>
              </ul>
            </div>
          </td>
          <td>{{ proveedor.nombre }}</td>
          <td>{{ proveedor.numeroContacto }}</td>
          <td>{{ proveedor.email }}</td>
          <td jhiTranslate="{{ 'gestionferrApp.TipoIdentificacionEnum.' + proveedor.tipoIdentificacion }}">
            {{ proveedor.tipoIdentificacion }}
          </td>
          <td>{{ proveedor.numeroCC }}</td>
          <td jhiTranslate="{{ 'gestionferrApp.TipoProveedorEnum.' + proveedor.tipoProveedor }}">{{ proveedor.tipoProveedor }}</td>
          <td class="text-end">
            <!-- <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/proveedor', proveedor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/proveedor', proveedor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(proveedor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
