<div class="container">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-md-5 imagen-abono"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 style="color: blue; font-style: normal; font-weight: bold" class="h4 text-gray-900 mb-4">
                Abonos de la facutra con identificador: {{ idFactura }}
              </h1>
            </div>

            <div *ngIf="abonos === null || abonos!.length === 0">
              <div class="alert alert-info" role="alert">
                <p class="mb-0">Esta factura aun no tiene abonos registrados.</p>
              </div>
            </div>
            <table *ngIf="abonos && abonos.length > 0" class="table table-hover">
              <thead style="background-color: rgb(68, 125, 248)">
                <tr>
                  <th class="col"></th>
                  <th scope="col">Varlo Abono</th>
                  <th scope="col">Fecha Abono</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let abono of abonos">
                  <td class="col"></td>
                  <td>{{ abono.valorAbono }}</td>
                  <td>{{ abono.fechaCreacion | formatMediumDate }}</td>
                </tr>
              </tbody>
            </table>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
