<div>
  <h2 id="page-heading" data-cy="FacturaCompraHeading">
    <span jhiTranslate="gestionferrApp.facturaCompra.home.title">Factura Compras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gestionferrApp.facturaCompra.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factura-compra"
        [routerLink]="['/factura-compra/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gestionferrApp.facturaCompra.home.createLabel"> Create a new Factura Compra </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="facturaCompras?.length === 0">
    <span jhiTranslate="gestionferrApp.facturaCompra.home.notFound">No facturaCompras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="facturaCompras && facturaCompras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.numeroFactura">Numero Factura</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.fechaCreacion">Fecha Creacion</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.infoCliente">Info Cliente</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.valorFactura">Valor Factura</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.valorPagado">Valor Pagado</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.valorDeuda">Valor Deuda</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.tipoFactura">Tipo Factura</span></th>
          <th scope="col"><span jhiTranslate="gestionferrApp.facturaCompra.idProovedor">Id Proovedor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facturaCompra of facturaCompras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factura-compra', facturaCompra.id, 'view']">{{ facturaCompra.id }}</a>
          </td>
          <td>{{ facturaCompra.numeroFactura }}</td>
          <td>{{ facturaCompra.fechaCreacion | formatMediumDatetime }}</td>
          <td>{{ facturaCompra.infoCliente }}</td>
          <td>{{ facturaCompra.valorFactura }}</td>
          <td>{{ facturaCompra.valorPagado }}</td>
          <td>{{ facturaCompra.valorDeuda }}</td>
          <td jhiTranslate="{{ 'gestionferrApp.TipoFacturaEnum.' + facturaCompra.tipoFactura }}">{{ facturaCompra.tipoFactura }}</td>
          <td>{{ facturaCompra.idProovedor }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/factura-compra', facturaCompra.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/factura-compra', facturaCompra.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(facturaCompra)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
