@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.imagen-abono {
  background: url('../images/ferreteria.jpg');
  background-repeat: no-repeat;
  height: 500px;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

.menu-config {
  border: none;
  background: none;
  color: rgb(0, 89, 255);
}

.menu-config2 {
  border: none;
  background: none;
  color: rgb(0, 0, 0);
}

.menu-config3 {
  border: none;
  background-color: aquamarine;
  color: rgb(0, 0, 0);
}

.link-producto {
  color: #000;
  background: none;
  text-decoration: none;
}

.link-producto:hover {
  background-color: rgba(65, 115, 242, 0.412);
  color: #000;
  font-size: 25px;
}

.icon-config {
  position: relative;
  top: 5px;
}

.icon-config-eliminar {
  position: relative;
  top: 5px;
  color: red;
}

.icon-config2 {
  position: relative;
  top: 5px;
}

.icon-config2:hover {
  color: rgb(0, 30, 255);
  font-size: 35px;
}

.icon-config-eliminar2 {
  position: relative;
  top: 5px;
  color: rgb(248, 103, 103);
}

.icon-config-eliminar2:hover {
  font-size: 35px;
  color: red;
}

.boton-menu {
  margin-bottom: 11px;
  color: rgb(67, 67, 67);
}

.boton-eliminar {
  color: rgb(0, 0, 0);
  border: none;
  background: none;
}

.titulo-entidades {
  color: blue;
  font-style: normal;
  font-weight: bold;
}

.titulo-entidades-warning {
  color: rgb(202, 172, 0);
  font-style: normal;
  font-weight: bold;
}

.boton-opcion-menu {
  color: #000;
}

.boton-cliente-venta {
  color: rgb(79, 105, 255);
  border: none;
}

.boton-opcion-menu:hover {
  background-color: rgb(79, 105, 255);
}

.boton-eliminar:hover {
  background-color: rgba(253, 37, 37, 0.227);
  color: #000;
}

.head-table {
  background-color: #000;
}

.link-caja {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: -15px;
  font-size: 20px;
}

.link-caja:hover {
  color: rgb(51, 157, 255);
  font-size: 30px;
}

.th-table {
  color: white;
}

.boton-link {
  border: none;
  background: none;
  color: rgb(0, 26, 175);
  font-size: 18px;
  text-decoration: none;
}

.boton-parpadeo {
  font-size: 28px;
  font-family: helvetica;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}
.parpadea {
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background-color: #fff;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0px;
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
