<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="facturaVenta">
      <h2 data-cy="facturaVentaDetailsHeading"><span jhiTranslate="gestionferrApp.facturaVenta.detail.title">Factura Venta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.numeroFactura">Numero Factura</span></dt>
        <dd>
          <span>{{ facturaVenta.numeroFactura }}</span>
        </dd>
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.fechaCreacion">Fecha Creacion</span></dt>
        <dd>
          <span>{{ facturaVenta.fechaCreacion | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.infoCliente">Info Cliente</span></dt>
        <dd>
          <span>{{ facturaVenta.infoCliente }}</span>
        </dd>
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.valorFactura">Valor Factura</span></dt>
        <dd>
          <span>{{ facturaVenta.valorFactura }}</span>
        </dd>
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.valorPagado">Valor Pagado</span></dt>
        <dd>
          <span>{{ facturaVenta.valorPagado }}</span>
        </dd>
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.valorDeuda">Valor Deuda</span></dt>
        <dd>
          <span>{{ facturaVenta.valorDeuda }}</span>
        </dd>
        <dt><span jhiTranslate="gestionferrApp.facturaVenta.tipoFactura">Tipo Factura</span></dt>
        <dd>
          <span jhiTranslate="{{ 'gestionferrApp.TipoFacturaEnum.' + facturaVenta.tipoFactura }}">{{ facturaVenta.tipoFactura }}</span>
        </dd>
      </dl>

      <div class="alert alert-primary" role="alert" *ngIf="facturaVenta.itemsPorFactura!.length === 0">
        <div class="d-flex justify-content-center">
          <h4>Esta factura no tiene items registrados.</h4>
        </div>
      </div>

      <div class="row" *ngIf="facturaVenta.itemsPorFactura && facturaVenta.itemsPorFactura.length > 0">
        <div class="md-5">
          <div class="d-flex justify-content-center">
            <h2 style="color: blue; font-style: normal; font-weight: bold">Items Factura Numero: {{ facturaVenta.numeroFactura }}</h2>
          </div>
        </div>
        <table class="table table-hover">
          <thead class="thead-black">
            <tr>
              <th scope="col"></th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody style="background-color: rgb(243, 244, 245)">
            <tr *ngFor="let item of facturaVenta.itemsPorFactura">
              <th scope="row">-</th>
              <td>{{ item.nombreProducto }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{ item.precio }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/factura-venta', facturaVenta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
